.color-3 { background-color: #dbadff; color: #1d1d1d; }  /* Blue */
.color-6 { background-color: #ffb878; color: #1d1d1d; }  /* Green */
.color-9 { background-color: #5484ed; color: #1d1d1d; }  /* Purple */
.color-5 { background-color: #fbd75b; color: #1d1d1d; }  /* Yellow */